* {
   font-family: "source-serif-pro", serif;
   font-weight: 400;
   font-style: normal;
   box-sizing: border-box;
}

body {
   margin: 0;
   padding: 0;
   background-color: white;
}

main {
   margin: 22px;
}

h2 {
   margin: 15px 0;
   font-size: 1.6em;
}

h3 {
   margin-bottom: 10px;
   font-size: 1.2em;
   color: #DE1795;
}

h4 {
   margin: 2px;
   padding-top: 18px;
   font-size: 1.2em;
}

a {
   text-decoration: none;
   color: black;
}

p {
   margin: 13px 0;
   font-size: 1.2em;
   line-height: 1.5em;
}

ul {
   margin: 0;
   padding: 0;
   line-height: 1.4em;
   list-style: none;
}

/* header */
header {
   display: flex;
   padding: 10px 25px;
   background-color: #4D22B3;
   color: white;
   border-bottom: 1px solid #4D22B3;
   align-items: center;
   justify-content: space-between;
}

nav {
   display: flex;
   font-size: 1.1em;
   letter-spacing: 0.5px;
   gap: 30px;
}

.nav-name a {
   font-size: 1.5em;
   color: white;
}

.nav-link {
   position: relative;
   color: white;
   padding: 10px 0;
}

.nav-link::after {
   background-color: white;
   content: '';
   position: absolute;
   width: 101%;
   height: 2px;
   bottom: 8px;
   left: 0;
   visibility: hidden;
   transform: scaleX(0);
   transition: all 0.3s ease-in-out;
}

.nav-link:hover::after,
.nav-link.active::after {
   visibility: visible;
   transform: scaleX(1);
}

.nav-link.active {
   font-weight: bold;
}

/* about */
.about-intro {
   width: 100%;
   margin: 0 auto;
   text-align: center;
   font-size: 1.6em;
}

.about-grid {
   display: grid;
   margin: 15px 20px;
   padding-bottom: 8px;
   column-gap: 10px;
   grid-template-columns: repeat(3, 1fr);
}

.about-images {
   position: relative;
   margin: 0 auto;
   border: .5px solid lightcyan;
   overflow: hidden;
}

.about-images img {
   display: block;
   width: 100%;
   height: auto;
}

.img-desc {
   display: flex;
   margin: 0;
   padding: 10px;
   font-size: .9em;
   background: rgba(255, 255, 255, 0.7);
   color: rgba(0, 0, 0);
   align-items: center;
   text-align: center;
   justify-content: center;
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   opacity: 0;
   transition: opacity 0.3s ease;
}

.about-images:hover .img-desc {
   opacity: 1;
}

.about-skills p, .fcc-projects p {
   margin-top: 10px;
}

.about-skills ul li, .fcc-projects ul li {
   margin: 10px 0;
   font-size: 1.12em;
   line-height: 1.4em;
   list-style-type: disc;
}

.skills-list, .fcc-list {
   margin: 0;
   padding-left: 30px;
}

/* work */
.work-intro {
   display: flex;
   margin: 0;
   font-size: 1.25em;
}

.work-top { 
   margin: 5px 30px;
   padding: 0px 250px;
}

.resume {
   margin: 20px 0;
}

.resume-link {
   position: relative;
   padding: 4.5px 8px;
   font-size: 1.3em;
   color: black;
   text-decoration: underline;
   text-underline-offset: 0.2em;
   align-items: center;
}

.fa-external-link {
   margin-left: 5.8px;
   font-size: 10px;
}

.paper-link, .svfe-website {
   margin: 12px 0;
   text-decoration: underline;
   text-underline-offset: 0.4em;
   color: #AA00CC;
}

.paper-link li a, .svfe-website li a {
   font-size: 1.2em;
   color: #AA00CC;
}

/* projects */
.svfe-website li {
   padding-top: 5px;
}

.sv-carousel {
   display: flex;
   gap: 9px;
   overflow-x: scroll;
}

.sv-carousel img {
   width: 200px;
   height: 200px;
   object-fit: cover;
}

.visited-places {
   display: inline-block;
   margin: 0;
   line-height: 1.5em;
   columns: 2;
   list-style-type: none;
}

.visited-places li {
   display: flex;
   padding-bottom: 8px;
   padding-left: 20px;
   font-size: 1.05em;
   align-items: baseline;
}

.visited-places li i {
   margin-right: 8px;
   font-size: .9em;
}

/* contact */
.contact-info {
   display: block;
   margin: 0 auto;
   padding: 28px 0 20px 0;
   width: 100%;
   align-content: center;
   align-items: center;
   text-align: center;
}

.contact-info h2 {
   margin: 4px 0 12px 0;
   font-size: 1.7em;
}

.contact-list {
   margin: 0;
   list-style-type: none;
}

.contact-list li {
   margin: 0;
   line-height: 2.5em;
   font-size: 1.2em;
}

.contact-list i {
   margin-right: 3px;
}

.contact-form {
   display: flex;
   margin: 0;
   padding: 5px 16px 30px 16px;
   background-color: rgb(170, 0, 204, 0.2);
   border-top: 1px solid rgb(170, 0, 204, 0.4);
   border-bottom: 1px solid rgb(170, 0, 204, 0.4);
   gap: 15px;
}

.form-column1, .form-column2 {
   display: flex;
   flex-direction: column;
   width: 50%;
}

input[type="text"], input[type="email"], textarea, button {
   padding: 10px;
   font-size: 1.05em;
   border: 2px solid rgb(93, 93, 240, 0.9);
   border-radius: 3px;
}

textarea {
   resize: vertical;
   height: auto;
}

button {
   margin-top: 1.1em;
   color: black;
   cursor: pointer;
   background-color: white;
   transition: background-color 0.3s;
}

button:hover {
   background-color: #A5E9FD;
}

/* footer */
footer {
   padding: 25px 20px;
   font-size: 1.1em;
   background-color: rgba(178, 184, 185, 0.681);
   color: black;
}

footer div {
   display: flex;
   justify-content: space-around;
}

footer a {
   display: flex;
   align-items: center;
}

footer a i {
   margin-right: 4px;
   margin-bottom: -1px;
   font-weight: bold;
}

/* responsive */
 @media (max-width: 600px) {
   header {
      padding-top: 17px; 
      flex-direction: column;
      align-items: center;
   }

   nav {
      display: flex;
      flex-direction: row; 
      width: 100%;
      justify-content: center;
   }

   .nav-link {
      width: auto; 
      padding: 12px 0 10px 0;
      text-align: center; 
   }
}

@media (max-width: 600px) {
   footer {
      padding: 20px 0 8px 0;
   }
   
   footer div {
      flex-direction: column;
      align-items: center;
      justify-content: center;
   }

   footer a {
      margin-bottom: 12px;
   }
}

@media screen and (max-width: 600px) {
   .image-grid  {
      display: block;
    }
    .img-desc {
      font-size: .6em;
    }
}
