/* basics */
body {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 15px;
   background: #fff;
   margin: 0;
}

main {
   margin: 0 15px;
   padding: 8px 8px 0 8px;
}

header {
   display: flex;
   justify-content: space-between;
   background-color: rgba(5, 135, 227, 0.651);
   padding: 5px 8px;
}

header h1 {
   margin: 0;
   padding: 10px 15px;
   font-size: 1.2em;
   font-style: normal;
}

header ul {
   list-style-type: none;
   margin: 0;
   padding-bottom: 5px;
}

header ul li {
   display: inline-block;
   padding: 0 20px;
   color: black;
}

header nav {
   display: flex;
   align-items: flex-end;
}

ul {
   margin: 0;
   padding: 0;
   list-style: none;
   line-height: 1.4em;
}

nav a {
   color: black;
}

 a {
	text-decoration: none;
   font-weight: 400;
   color: black;
}

 h1 {
   font-size: 1.45em;
   font-weight: normal;
}

 p {
   line-height: 1.5em;
   margin: 12px 0;
}

 h2 {
   margin: 0;
   padding-top: 7px;
   font-weight: 500;
   font-style: normal;
}

h4 {
   margin: 0;
}

.bottom {
   display: flex;
   justify-content: space-between;
   padding: 15px 150px;
   background-color: #D9D9D9;
}

.projects {
   border-top: 3px solid #be80fc;
   padding-top: 15px;
}

/* home */
.image-grid  {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
 }

 .image-grid li {
   width: 32%;
 }

 .image-grid img {
   width: 100%;
   border: 3px solid white;
   border-radius: 3px;
 }

.skills {
   display: block;
   list-style-type: disc;
   margin-top: 1em;
   margin-bottom: 1em;
   margin-left: 0;
   margin-right: 0;
   padding-left: 40px;
}

/* work */
h4, .research li a, .svfe li a {
   font-weight: 500;
   color: #3737EF;
   font-size: 16px;
   padding: 5px 0;
}

.resume a {
   font-weight: 500;
   color: #3737EF;
   font-size: 17px;
   text-decoration: underline;
}

.resume {
   padding-bottom: 15px;
}

.paper-list li {
   display: block;
}

.image-grid-sv {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

.image-grid-sv li {
   width: 200px;
   height: 200px;
   margin: 0;
}

.image-grid-sv img {
   width: 195px;
   height: 195px;
   border: 5px solid white;
   border-radius: 3px;
}

 .image-grid img {
   width: 100%;
   border: 3px solid white;
   border-radius: 3px;
 }

ul.image-grid-sv {
   margin: 0;
   padding: 12px 0;
}

.visited-places {
   display: block;
   list-style-type: disc;
   columns: 2;
   padding: 0 0 14px 20px;
}

.elff-link {
   text-decoration: underline;
   line-height: 1.2em;
}

.elff {
   display: block;
   list-style-type: "-  ";
   margin-top: 1em;
   margin-bottom: 1em;
   margin-left: 0;
   margin-right: 0;
   padding-left: 40px;
   padding-bottom: 10px;
}

/* contact */
.contact-list {
   display: block;
   list-style-type: "-  ";
   margin: 10px 0;
   padding-left: 40px;
   border-bottom: 3px solid #be80fc;
   padding-bottom: 10px;
}

.contact-list li a {
   color: black;
   text-decoration: underline;
}

 .contact-me {
   margin: 8px 0 10px 0;
   padding: 8px;
   border: 1.5px solid rgb(253, 176, 241);
   border-radius: 3px;
   background-color: rgba(253, 176, 241, 0.4);
 }

 form {
   padding-top: 8px;
 }

 input[type=text], select, textarea {
   width: 100%;
   padding: 12px;
   border: 1.5px solid #5d5df0; 
   border-radius: 4px;
   resize: vertical;
   box-shadow: #fdb0f1 0 10px 10px -10px;
 }
 
 label {
   padding: 10px 10px 10px 0;
   display: inline-block;
 }

 input[type="text"] {
   margin: 10px 0 0 0;
   width: 200px;
   height: 1em;
 }

 textarea, select {
   margin: 10px 0 0 0;
   width: 200px;
   min-height: 2em;
 }
 
 textarea {
   border: 1.5px solid #5d5df0; 
   padding-bottom: 20px;
 } 

 button {
   margin: 8px 0;
   width: 225px;
   border: .7px solid #5d5df0;
   border-radius: 700px;
   background-color: #8B8BF8;
   box-shadow: #fdb0f1 0 10px 10px -10px; 
   box-sizing: border-box;
   padding: 8px;
   cursor: pointer;
   font-size: 15.5px;
 }

 @media screen and (max-width: 650px) {
   .image-grid  {
      display: block;
    }
 }

 @media screen and (max-width: 600px) {
   .image-grid-sv  {
      display: block;
    }
 }
